@page "/"

<PageTitle>Home</PageTitle>

<h1>My first blazor application</h1>

This app uses a docker postgres database to store my games rankings.
I'm enjoying Blazor in .NET 8 as it seems a powerful and easy way to create a web app completely in c#
