@inherits LayoutComponentBase
@layout MainLayout

<h1>Test Layout</h1>
@Body

<div>
    @TrademarkMessage
</div>

@code {
    public string TrademarkMessage { get; set; } =
            "Alexander's Website is a registered trademark";
}